{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>The Web News</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="{% static 'ie.css' %}" /><![endif]-->
</head>
<body>
<!-- BEGIN wrapper -->
<div id="wrapper">
  <!-- BEGIN header -->
  <div id="header">
    <ul>
      <li class="f"><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact Page</a></li>
    </ul>
    <p class="links">Subscribe: <a href="http://all-free-download.com/free-website-templates/">Posts</a> | <a href="http://all-free-download.com/free-website-templates/">Comments</a> | <a href="http://all-free-download.com/free-website-templates/">Email</a> </p>
    <div class="break"></div>
    <div class="logo">
      <h1><a href="/">The Web News</a></h1>
      <p>Best News</p>
    </div>
    <div class="ad468x60"> <a href="http://all-free-download.com/free-website-templates/"><img src="{% static 'images/ad468x60.gif' %}" alt="" /></a> </div>
    <div class="break"></div>
    <ol>
      <li><a href="http://all-free-download.com/free-website-templates/">Advertising</a></li>
      <li><a href="http://all-free-download.com/free-website-templates/">Entertainment</a></li>
      <li><a href="http://all-free-download.com/free-website-templates/">Fashion</a></li>
      <li><a href="http://all-free-download.com/free-website-templates/">Lifestyle</a></li>
      <li><a href="http://all-free-download.com/free-website-templates/">Pictures</a></li>
      <li><a href="http://all-free-download.com/free-website-templates/">Videos</a></li>
    </ol>
    <div class="break"></div>
  </div>
  <!-- END header -->
{% block content %}



{% endblock %}
  <!-- BEGIN footer -->
  <div id="footer">
    <p>Copyright &copy; 2009 - <a href="http://all-free-download.com/free-website-templates/">Website Name</a> &middot; All Rights Reserved</p>
    <p>Template by: <a href="http://www.wpthemedesigner.com/">WordPress Designer</a> | Get More <a href="http://all-free-download.com/free-website-templates/">Free CSS Templates</a></p>
  </div>
  <!-- END footer -->
</div>
<!-- END wrapper -->
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>
