{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- BEGIN content -->
  <div id="content">
    <!-- begin post -->
    <div class="single">
      <h2>{{post_page.title}}</h2>
      <h4>{{post_page.category_id}}</h4>
      <p><img class="alignright" src="{{post_page.image.url}}" width="200" height="150" alt="" /></p>
      <p>{{post_page.text}}</p>
    </div>
    <!-- end post -->

    <br>
    <br>
    <br>


{% if post_page.comments.all %}

<h4 class="mb-0">Недавние комментарии</h4>
<p class="fw-light mb-4 pb-2">Раздел последних комментариев пользователей</p>

{% for i in post_page.comments.all %}
<section>
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="card text-dark">
          <div class="card-body p-4">
            <br>

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="{{ i.image.url }}" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">{{ i.name }}</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    {{ i.created_date }}
                  </p>
                </div>
                <p class="mb-0">
                  {{ i.body }}
                </p>
              </div>
            </div>
          </div>

            <hr class="my-0" />

        </div>
      </div>
    </div>
  </div>
  </div>

</section>
{% endfor %}

    {% else %}
<h4 class="mb-0">Недавние комментарии</h4>
<p class="fw-light mb-4 pb-2">Раздел последних комментариев пользователей</p>
    <br>
    <p> Комментариев пока нет </p>
{% endif %}

  </div>
  <!-- END content -->
  <!-- BEGIN sidebar -->
  <div id="sidebar">
    <!-- begin ads -->
    <div class="ads"> <a href="http://all-free-download.com/free-website-templates/"><img src="{% static 'images/ad125x125.jpg' %}" alt="" /></a> <a href="http://all-free-download.com/free-website-templates/"><img src="{% static 'images/ad125x125.jpg' %}" alt="" /></a> <a href="http://all-free-download.com/free-website-templates/"><img src="{% static 'images/ad125x125.jpg'%}" alt="" /></a> <a href="http://all-free-download.com/free-website-templates/"><img src="{% static 'images/ad125x125.jpg'%}" alt="" /></a> </div>
    <!-- end ads -->
    <!-- begin search -->
    <form class="search" action="http://all-free-download.com/free-website-templates/">
      <input type="text" name="s" id="s" />
      <button type="submit">Search</button>
    </form>
    <!-- end search -->
    <div class="wrapper">
      <!-- begin popular posts -->
      <h2>Popular Posts</h2>
      <ul>
        <li><a href="http://all-free-download.com/free-website-templates/">Make Money Online Creating Websites</a></li>
        <li><a href="http://all-free-download.com/free-website-templates/">Top 100 Internet Marketing Tips</a></li>
        <li><a href="http://all-free-download.com/free-website-templates/">Tutorial: How to add Videos in your Post</a></li>
        <li><a href="http://all-free-download.com/free-website-templates/">Sample Post Unordered List</a></li>
        <li><a href="http://all-free-download.com/free-website-templates/">Sample Post Blockquote</a></li>
      </ul>
      <!-- end popular posts -->
      <!-- begin flickr photos -->
      <h2>Flickr Photos</h2>
      <div class="flickr"> <a href="https://www.instagram.com/matviigolovko/" target="_blank"><img src="{% static 'images/2023-05-28 22.44.12.jpg' %}" alt="" width="200"/></a></div>
      <!-- end flickr photos -->
      <!-- begin featured video -->
      <h2>Featured Video</h2>
      <div class="video"> <img src="images/_video.jpg" alt="" /> </div>
      <!-- end featured video -->
      <!-- begin tags -->
      <h2>Tags</h2>
      <div class="tags"> </div>
      <!-- end tags -->
      <!-- BEGIN left -->
      <div class="l sbar">
        <!-- begin categories -->
        <h2>Categories</h2>
        <ul>
          <li><a href="http://all-free-download.com/free-website-templates/">Entertainment</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Fashion</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Internet</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Marketing</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Lifestyle</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Make Money</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Online</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Parenting</a></li>
        </ul>
        <!-- end categories -->
        <!-- begin pages -->
        <h2>Pages</h2>
        <ul>
          <li><a href="http://all-free-download.com/free-website-templates/">Home</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">About</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Archives</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Links</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Contact</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Sitemap</a></li>
        </ul>
        <!-- end pages -->
      </div>
      <!-- END left -->
      <!-- BEGIN right -->
      <div class="r sbar">
        <!-- begin archives -->
        <h2>Archives</h2>
        <ul>
          <li><a href="http://all-free-download.com/free-website-templates/">August 2008</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">July 2008</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">June 2008</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">May 2008</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">April 2008</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">March 2008</a></li>
        </ul>
        <!-- end archives -->
        <!-- begin blogroll -->
        <h2>Blogroll</h2>
        <ul>
          <li><a href="http://all-free-download.com/free-website-templates/">Carlos</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Digital Point Forum</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Eric's Photo Gallery</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Fashion Trends</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Google Scoreboard</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Marketing Forum</a></li>
        </ul>
        <!-- end blogroll -->
        <!-- begin meta -->
        <h2>Meta</h2>
        <ul>
          <li><a href="http://all-free-download.com/free-website-templates/">Login</a></li>
        </ul>
        <!-- end meta -->
      </div>
      <!-- END right -->
    </div>
  </div>
  <!-- END sidebar -->
{% endblock %}